[submodule "native-patches"]
	path = native-patches
	url = git@github.com:the0x539/katamari-fps-patch
[submodule "steamworks-wrapper"]
	path = steamworks-wrapper
	url = git@github.com:the0x539/steamworks-wrapper
