<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" protocolVersion="3" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="BepInEx">
			<package pattern="BepInEx.*" />
			<package pattern="UnityEngine.Modules" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="BepInEx.AssemblyPublicizer.MSBuild" />
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
